@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  background-color: #1b1b32;
  color: #f5f6f7;
}

.text-center {
  text-align: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: block;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.group-form {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #4578af;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.input-submit {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 1rem;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  margin: 0 32px 32px 0;
  outline: none;

  border-radius: 6px;

  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.input-submit:focus-visible {
  box-shadow: 0 0 0 2px #666;
}
.input-submit:hover {
  background-color: #dbe7f2;
}
.input-submit:active {
  transform: scale(0.96);
}
.input-submit:disabled {
  pointer-events: none;
  opacity: 0.65;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://www.mooc.org/hubfs/applications-of-computer-programming.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
